@font-face {
  font-family: "Baguede";
  src: url("assets/fonts/BaguedeRegular.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Baguede";
  height: 100vh;
}
p {
  font-size: 1rem;
}
h2 {
  font-size: 2.5rem;
}

.dsec-btn {
  border-radius: 54.5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border: none;
  width: 260px;
  height: 4rem;
  font-size: 1.25rem;
  color: #390b3a;
}
.dsec-btn:hover {
  background-color: #390b3a;
  color: white;
}

/* All btns here */
.about-btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border: none;
  width: 200px;
  height: 4rem;
  font-size: 1.25rem;
  border-radius: 54.5rem;
  background-color: #390b3a;
  color: white;
  font-size: 1.5rem;
}

.about-btn:hover {
  background-color: white;
  color: #481f4a;
}

.hero {
  background-image: url("assets/img/HeroBg_Svg.svg");
  padding: 5rem;
}
nav {
  height: 5rem;
  background-color: #481f4a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 46.5px;
  padding: 0 2rem;
}

nav img {
  height: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  width: 50%;
}

nav li {
  display: flex;
  justify-content: space-between;
}

li a {
  display: inline-block;
  color: white;
  padding: 14px 28px;
  margin: 5px;
  text-decoration: none;
  font-size: 1rem;
}

li a:hover {
  background-color: #f1b04c;
  cursor: pointer;
  color: #390b3a;
  border-radius: 30px;
}
.active {
  background-color: #f1b04c;
  color: #390b3a;
  border-radius: 30px;
}

.descr {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
}

.descr .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: -rem; */
}

.descr .text p {
  font-size: 6rem;
  color: white;
  line-height: 5.5rem;
}

.descr img {
  height: 36rem;
}

/* About Us section*/
.about-us {
  background-color: #f4defa;
  /* height: 100vh; */
  /* margin-bottom: 10%; */
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 25px;
  color: #481f4a;
}

.about p {
  /* //Style accordingly */
}

.vision-mision-values {
  display: grid;
  gap: 2rem;
  grid-template-columns: 2;
  /* flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: #390b3a;
  line-height: 27px;
  gap: 2px; */
}

.vision,
.mission,
.values {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* width: 405px;
  height: 350px; */
  margin: 3rem;
  border-radius: 20px;
  padding: 5%;
}

.vision-h2,
.vision-p,
.mission-h2,
.mission-p,
.values-h2,
.values-p {
  padding-left: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.about-h2 {
  padding-top: 3rem;
  margin-bottom: 0.5rem;
}
.about-p {
  border: 1px red solid;
  align-content: center;
}
.About-btn {
  margin-top: 2rem;
}

.about-icon {
  margin-top: 2.5rem;
  margin-left: 2rem;
  margin-bottom: 0;
  height: 91px;
  width: 93px;
}
/*3rd section
.Products-and-services{
  background-color: white;
  border: 1px solid red;
}
.Pas-h2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #390b3a;
}
.pas-cnt{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.anuwai{
  background-color: #F5E8F9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1097px;
  height: 330px;
  color: #390b3a;
  line-height: 25px;
  align-items: center;
  border-radius: 20px;
}
.Anuwai-h3{
  border: 1px solid red ;
 
}*/
