@font-face {
  font-family: "Baguede";
  src: url("assets/fonts/BaguedeRegular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Forum-Regular;
  src: url("assets/fonts/Forum-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  image-rendering: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Baguede";
  height: 100vh;
}

h2 {
  font-size: 2.5rem;
}

.dsec-btn {
  border-radius: 54.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  cursor: pointer;
  align-items: center;
  border: none;
  width: 330px;
  height: 6rem;
  font-size: 1.5rem;
  background: linear-gradient(white 52%, #f4defa 100%);
  color: #390b3a;
  font-family: "baguede";
  margin-left: 1rem;
  margin-top: -4.5rem;
}
.dsec-btn:hover {
  background: #390b3a;
  color: white;
}

/* All btns here */
.about-btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border: none;
  width: 200px;
  height: 4rem;
  font-size: 1.25rem;
  border-radius: 54.5rem;
  background-color: #390b3a;
  font-family: "baguede";
  color: white;
  font-size: 1.5rem;
  margin-top: 2rem;
  text-decoration: none;
}

.about-btn:hover {
  background-color: white;
  color: #390b3a;
}

.hero {
  background-image: url("assets/img/HeroBg_Svg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
}
nav {
  height: 5rem;
  background-color: #390b3a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 70px;
  padding: 2rem;
}

nav img {
  height: 2rem;
  padding-left: 2rem;
}

nav ul {
  background-color: #481f4a;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  margin: 0;
  padding: 0.2rem;
  padding-right: 0.3rem;
  border-radius: 46.5px;
}

nav li {
  display: flex;
  justify-content: space-between;
  font-family: "baguede";
}

nav li a {
  display: inline-block;
  color: white;
  padding: 14px 28px;
  margin: 5px;
  text-decoration: none;
  font-size: 1rem;
}

nav li a:hover {
  background-color: #f1b04c;
  cursor: pointer;
  color: #390b3a;
  border-radius: 30px;
  width: 50%;
}
.active {
  background-color: #f1b04c;
  color: #390b3a;
  border-radius: 30px;

}
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 92%;
  width: 89%;
  z-index: 999;
  background-color: #390b3a80;
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3rem 0 0 5rem;
  border-radius: 0;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.menubutton {
  display: none;
}
@media (max-width: 992px) {
  .hidesidebar {
    display: none;
    border-radius: 0;
  }
  .menubutton {
    display: block;
  }
}
@media(min-width: 992px){
  .menubutton{
    display: none;
  }
  .sidebar {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

}
@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    height: 88%;
    border-radius: 0;
  }
}
.hero .descr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 5rem;
  margin-top: 1rem;
}

.descr .text {
  font-size: 6.5rem;
  color: white;
  line-height: 6.5rem;
  width: 70%;
  text-align: left;
  margin: 0;
  padding: 0;
}


.descr-img {
  width: 495px;
  height: 614px;
}
@media (max-width: 992px) {
  .hero {
    padding: 3rem;
  }

  .descr {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .descr .text{
    font-size: 3.5rem;
    line-height: 3rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-self: end;
    padding-bottom: 4rem;
  }
  .dsec-btn{
    display: flex;
    flex-direction: row;
    align-self: end;
    font-size: 1.2rem;
    height: 3.5rem;
    margin-bottom: -1rem;
    margin-left:-30rem;
   
  }

  .descr-img {

    width: 80%;
    height: auto;
    flex-direction: row;
    align-self:flex-start;
    margin-left: -30rem;
    padding-bottom: 8rem;
    padding-right: 7.5rem;
    z-index: 998;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 2rem;
  }

  .descr .text {
    font-size: 3rem;
    line-height: 3.5rem;
    width: 100%;

  }
  .dsec-btn{
    display: flex;
    flex-direction: row;
    align-self: end;
    font-size: 1rem;
    height: 50%;
    width: 100%;
  }
  .descr-img {
    width:auto;
    height:auto;
  }
}
/* About Us section*/
.about-us {
  background-color: #f4defa;
  padding: 2rem;
}
  @media (max-width: 767px) {
   .about-us{
    padding: 1rem;
   }
  }

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 25px;
  color: #481f4a;
}

.about p {
  font-family: "forum-regular";
  font-size: 1.3rem;
  text-align: center;
  color: #390b3a;
  width: 80%;
}

.vision-mission-values {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 3rem;
}

@media (min-width: 767px) {
  .vision-mission-values {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .card:nth-child(3) {
    grid-column: 1 / span 2;
    justify-self: center;
  }
}
@media (max-width: 480px) {
  .vision-mission-values {
    margin: 0.5rem;
  }
  .text {
    font-size: 16px;
  }
}

.card {
  background-color: white;
  color: #390b3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 5%;
  align-items: start;
}
.card p {
  text-align: left;
  font-size: 1.3rem;
  width: 100%;
  font-family: "forum-regular";
  color: #390b3a;
}
.card h2 {
  margin: 0.5rem 0;
}
.card ul {
  padding-left: 1.5rem;
  width: 80%;
  font-family: "forum-regular";
  font-size: 1.5rem;
}

.about-icon {
  padding-bottom: 0.5rem;
  height: 91px;
  width: 93px;
}

/*3rd section */
.Products-and-services {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
.Products-and-services h2 {
  color: #390b3a;
  text-align: center;
  font-size: 4rem;
  line-height: 4rem;
}
.products-cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.cards {
  background-color: #f4defa;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  border-radius: 35px;
  padding: 5%;
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .content,
  h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .content,
  h3 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
  }
}
.cards-img {
  display: flex;
  justify-content: center;
  align-items: center;

}
.content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  line-height: 1.6rem;
  margin-top: 1rem;
}
.cards h3 {
  font-size: 2rem;
  line-height: 1.5rem;
  color: #390b3a;
  margin-bottom: 1rem;
}
.cards p {
  font-family: "forum-regular";
  color: #390b3a;
  font-size: 1.4rem;
}
.cards-btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border: none;
  width: 140px;
  height: 3rem;
  font-size: 1.25rem;
  border-radius: 54.5rem;
  background-color: white;
  font-family: "baguede";
  color: #390b3a;
  font-size: 1rem;
  margin-bottom: 2rem;
  text-decoration: none;
}
.cards-btn:hover {
  background-color: #390b3a;
  color: white;
}
/* Reach Out section*/
.reach-out {
  background-color: #f4defa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  text-align: center;
}
.reach-out-title-mobile {
  display: none;

  @media (max-width: 768px) {
    display: block;
    color: #390b3a;
    display: flex;
    flex-direction: row;
    width: 80%;
    font-size: 2rem;
  }

  @media (max-width: 480px) {
    width: 100%;
    font-size: 1.5rem;
  }
}

.reach-out h2 {
  text-align: center;
  color: #390b3a;
  margin-bottom: -0.5rem;

  @media (max-width: 768px) {
    display: none;
  }
}

.reach-out p {
  text-align: center;
  color: #390b3a;
  font-family: "forum-Regular";
  font-size: 1.2rem;
  line-height: 1.7rem;
  width: 75%;
}

.contacts-btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border: none;
  width: 200px;
  height: 4rem;
  font-size: 1.25rem;
  border-radius: 54.5rem;
  background-color: white;
  font-family: "baguede";
  color: #390b3a;
  font-size: 1rem;
  text-decoration: none;
}
.contacts-btn:hover {
  background-color: #390b3a;
  color: white;
}

.consultation {
  display: grid;
  gap: 5%;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: #f4defa;
  border-radius: 20px;
  margin: 3%;
  padding: 2rem;

  @media (max-width: 768px) {
    gap: -0%;
    grid-template-columns: 1fr;
  }
}
.consultation-img img {
  width: 100%;
}

.consultation-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  color: #390b3a;
  width: 100%;
}

.consultation-content h3 {
  font-family: "forum-regular";
  font-size: 1.5rem;
  margin-top: -1rem;
}

.consultation p {
  margin-top: 0.5rem;
  font-family: "forum-regular";
  line-height: 1.7rem;
  font-size: 1.2rem;
  text-align: left;
  width: 80%;
}

.consultation-btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border: none;
  width: 200px;
  height: 4rem;
  font-size: 1.25rem;
  border-radius: 54.5rem;
  background-color: white;
  font-family: "baguede";
  color: #390b3a;
  font-size: 1rem;
  text-decoration: none;
}
.consultation-btn:hover {
  background-color: #f1b04c;
  color: white;
}

@media (max-width: 992px) {
  .reach-out p {
    width: 85%;
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .reach-out p {
    width: 90%;
  }
  .consultation {
    grid-template-columns: 1 1fr;
  }
  .consultation-content {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    line-height: 3rem;
  }
  .consultation-img {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .reach-out p {
    width: 100%;
    font-size: 1rem;
  }
  .consultation-content,
  h3 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    line-height: 3rem;
    font-size: 1.2rem;
  }
  .consultation p {
    font-size: 1rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
}

/*Footer*/
footer {
  background-image: url("assets/img/footer.svg");
  padding: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-left: 3%; */
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  gap: 4rem;
  margin: 1rem 8%;

  @media (max-width: 768px) {
    margin:1%;
  }
}
.links ul li,
.address ul li {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  color: white;
  font-family: "baguede";
  font-size: 13px;
}

.address li a {
  text-align: left;
  line-height: 2rem;
  font-family: "baguede";
  font-size: 13px;
  color: white;
  text-decoration: none;
  font-size: "baguede";
}
.links li a {
  text-align: left;
  line-height: 2rem;
  font-family: "baguede";
  font-size: 13px;
  color: white;
  text-decoration: none;
}
.links li a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.address li a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.address {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-self: flex-start;
}
.hr-line {
  display: flex;
  flex-direction: row;
  height: 1px;
  background: white;
  width: 85%;
  align-self: center;
  
  @media (max-width: 768px) {
    width: 100%;
  }
}
.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  margin-left: 7.5%;
  gap: 1rem;
}
.icon {
  display: flex;
  flex-direction: row;
}

.copyright {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-self: center;
  font-family: "forum-regular";
  color: white;
  font-size: 15px;
}
.dsec-footer {
  width: 77px;
  height: 111px;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-left: 5%;
}
.links {
  line-height: 2rem;
}
@media (max-width: 768px) {
  .footer-logo {
    flex-direction: row;
    align-items: center;
  }

  .footer-links {
    text-align: center;
  }

  .socialmedia {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .footer-links {
    gap: 1rem;
  }

  .links ul,
  .address ul {
    text-align: center;
    padding: 0;
  }

  .links li a,
  .address li a {
    font-size: 12px;
  }

  .copyright {
    font-size: 12px;
    padding: 0.5rem;
  }
}
